<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-size: 20px">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    QR Bookstore
                </a>

                <ul class="nav navbar-nav" style="font-size: 30px">
                    <%if (!user) {%>
                        <li><a href="/auth">Login</a></li>
                    <%} else {%>
                        <li><a href="/list">Sách của <%=user.name%></a></li>
                    <%}%>
                        <li><a href="/gen">Toàn bộ mã QR</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>
