<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<%- include('../partials/header.ejs', { user: user }) %>
<main>
    <div class="jumbotron"><h1>Welcome to the QR Bookstore</h1></div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
