<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<main>
    <h1 style="color: black; font-size: 50px; text-align: center">Đặt mua pizza với tổng đài trí tuệ nhân tạo.</h1>
    <div style="width: 100vw; height: 100vh; background-image: url('https://s3.amazonaws.com/pizza-delight-cdn/upload/menu/PD17_IMG_OLO_PD_Pizza-Nacho_1920x1080.jpg'); background-size: contain; display: flex; justify-content: space-around; align-items: center; flex-direction: column">
        <img src="<%=image%>" alt="Pizza QR" style="display: flex"/>
    </div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
