<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<main>
    <div class="jumbotron">
        <h1>Books QR</h1>
        <div style="display: flex; flex-flow: row wrap; justify-content: center">
            <% for (const code of codes) { %>
                <div style="text-align: center; display: flex; margin: auto auto 30px; padding: 10px">
                    <img src="<%= code %>" alt="QR Code">
                </div>
            <% } %>
        </div>
    </div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
